/* Medias Queries */

@media screen and (max-width: 1023px) and (min-width: 500px) {
	.primero {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.segundo {
		a {
			font-size: 1.5rem;
		}
		li {
			display: inline-block;
			padding: 0px 1rem;
		}
	}
	.pad {
		width: 200px;
		padding: 0px 20px;
	}
	.linea {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.tamaño {
		width: 200px;
	}
	.mainOrden {
		display: flex;
		justify-content: space-evenly;
	}
	.cuerpoOrden {
		display: flex;
		justify-content: space-evenly;
	}
	.divcat {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.spanOrder {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.formorden {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.quienesSomos {
		margin: 0% 10%;
	}
	.talles {
		margin: 0% 10%;
	}
	.contacto {
		display: flex;
		flex-direction: column;
		margin: 0px 150px;
	}
	.contactorder {
		margin: 20px 0px;
	}
	.produCuerpo{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (min-width: 1024px) {
	.primero {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.segundo {
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			display: inline-block;
			padding: 0px 2rem;
		}
	}
	.mainOrden {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.linea {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.tamaño {
		width: 250px;
	}
	.cuerpoOrden {
		display: flex;
		justify-content: space-evenly;
	}
	.divcat {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.spanOrder {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.formorden {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.produCuerpo{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (max-width: 499px) {
	.logo {
		width: 20%;
		cursor: pointer;
	}
	.desabilitado {
		display: none;
	}
	.tamaño {
		width: 200px;
	}
	.primero {
		display: flex;
		justify-content: center;
	}
	.segundo {
		display: flex;
		align-items: center;
		justify-content: start;
		padding: 1% 1%;
		li {
			display: list-item;
		}
	}
	.linea {
		display: flex;
		flex-direction: column;
	}
	.mainOrden {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.divFoter {
		display: flex;
		flex-direction: column;
		background-color: $background-color_2;
		margin: 40px 0px 0px 0px;
		ul {
			padding: 5px 30px 5px 30px;
			color: $color_2;
		}
		a {
			color: $color_2;
			font-weight: bold;
		}
	}
	.divcat {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.spanOrder {
		display: flex;
		justify-content: space-between;
		margin-top: 5px;
		input {
			width: 10rem;
			margin: 0px 10px;
		}
	}
	.butFiltrar {
		margin: 0px 50px;
	}
	.quienesSomos {
		p {
			font-size: 1.3rem;
		}
		margin: 0% 10%;
	}
	.talles {
		margin: 0% 10%;
	}
	.contacto {
		display: flex;
		flex-direction: column;
		margin: 0% 10%;
	}
	.contactorder {
		margin: 20px 0px;
	}
	.formorden {
		display: flex;
		flex-direction: column;
	}
	.tamañomap {
		width: 300px;
		height: 200px;
	}
	.produCuerpo{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

}