/* Variables */
$color_1: rgb(255, 255, 255);
$color_2: black;
$color_3: white;
$color_4: #5CEAFE;
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: rgb(0, 0, 0);
$background-color_2: blanchedalmond;
$background-color_3: gray;
$border-color_1: white;
$border-color_2: #5CEAFE;
